.main-form{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /*box-shadow: 0 0 40px 5px rgb(0, 0, 221);*/
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 50%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px white;
    padding:1rem
}
.form-label{
    padding: .5rem;
    letter-spacing: 2px;
}
input{
    width:70%;
    font-size: 16px;
    background:rgb(228, 228, 228);
    border:2px solid rgb(160, 160, 160);
    text-align: center;
    padding:.5rem 1rem
}
input:focus{
    border:2px solid gray
}

.form-btn{
    text-align: center;
    width: 70%;
}
.form-btn .btn-log{
    width: 40%;
    padding: .6rem;
    background:var(--clr-green);
    border:var(--clr-green);
    text-decoration: none;
    border: 2px solid var(--clr-green)
}
.form-btn .btn-log:hover{
    background: none;
    color:var(--clr-green)
}
.form-btn a{
    margin: 0 1rem;
    padding: .5rem 2rem;
    background:none;
    border:var(--clr-green);
    text-decoration: none;
    border: 2px solid var(--clr-green);
    border-radius: 5px;
    color: var(--clr-green);
    letter-spacing: 2px;
    transition: .4s ease-in-out;
}
.form-btn a:hover{
    background:var(--clr-green);
    color: white;
}


