body{
    /*background:rgb(16, 0, 99)*/
    background:linear-gradient(90deg,rgba(23, 0, 78, 0.527),rgba(0, 0, 121, 0.288)),url("https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}

/*--------------------*/
:root{
    --table-border:rgb(128, 112, 197);
    --light-gray:rgb(253, 253, 253);
    --clr-blue:rgb(0, 38, 255);
}
.main-user{
    display:flex;
}
.nav-dropdown{
    color:white;
    text-decoration: none;
    letter-spacing:2px;
    cursor: default;
}
.nav-logout a{
    border:2px solid rgb(238, 238, 238);
    padding: .5rem 1rem;
    color:white;
    border-radius:5px;
    text-decoration: none;
    transition:.4s ease-in-out;
    margin:0 0 0 1rem;
}
.nav-logout a:hover{
    background: rgb(219, 0, 0);
    border:2px solid rgb(216, 0, 0);
}
/*-------------------------*/
.main-trailers{
    position: absolute;
    top:60%;
    left:60%;
    transform: translate(-60%,-60%);
    /*box-shadow: 0 0 40px 5px rgb(0, 0, 221);*/
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 80%;
}
.main-trailers .btn-log{
    width:20%;
    margin:0;
    border:2px solid var(--light-gray);
    text-align: center;
    background:var(--light-gray);
}
.main-trailers .btn-log{
    color:var(--clr-blue);
    text-decoration: none;
}
.main-trailers .btn-log:hover{
    background:none;
    color:white
}
/*---------------------------------*/
.table{
    border-radius: 5px;
    width:100%;
    height:100%;
    margin:1rem 0; 
    color:white;
    background: rgba(12, 0, 65, 0.836);
    box-shadow: 0 0 30px 5px rgba(13, 0, 71, 0.507);
}
.thead{
    border:2px solid var(--table-border);
    width:100%;
    padding:1rem
}
th{
    border:2px solid var(--table-border);
    padding:1rem;
    border-left: none;
    border-radius: 5px;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
}
th:first-child{
    border-left: 2px solid var(--table-border);
}
td{
    text-align: center;
    border:2px solid var(--table-border);
    border-radius: 5px;
    border-top: none;
    border-left: none;
    position: relative;
}
td:first-child{
    border-left: 2px solid var(--table-border);
}
.img-port{
    width:150px;
    object-fit: cover;
    object-position: top;
}
.button{
    display:flex;
    flex-direction:column;
    padding:.5rem ;
}
.btn-action{
    border:2px solid var(--light-gray);
    text-align: center;
    background:none;
    color:white;
    margin:.5rem ;
    padding:.5rem;
    border-radius: 5px;
    cursor:pointer;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    transition:.4s ease-in-out
}
.btn-action:hover{
    background:none;
    color:white;
}
